.player-containers {
  width: 30vw;
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.player-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.player-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20rem;
  width: 33.5%;
  height: 9rem;
  border-radius: 0.5rem;
  size: 20rem;
  background-color: #ee2c76ea;
}
.player-bottom-darker {
  background-color: #ee2c76a9;
}
p h2 {
  background-color: transparent;
}
.h2-top {
  font-size: 3rem;
  color: #3e393f;
  margin-top: 4rem;
  margin-bottom: 0;
  text-align: center;
}
.p-num-top {
  font-size: 5.1rem;
  color: #ee2c76;

  margin-top: 0.5rem;
  padding-top: 0.01rem;
}
.p-num-top-darker {
  color: #ee2c76a9;
}
.p-current {
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 0.01rem;
  color: #c1c4c4;
}
.p-num-bottom {
  font-size: 2.9rem;

  margin-top: 0.1rem;
  padding-top: 0.01rem;
  color: #dee4e4;
}
